ul.action-button {
    padding-left: 0;
    margin-bottom: 0;
}
ul.action-button li {
    list-style: none;
    margin-right: 10px;
}

.action-button button {
    padding: 0;
    border: 0;
    background: none;
}

.action-button li a, .action-button li button {
    font-size: 16px;
}

.my-toast {
    position: absolute;
    top: 95px;
    right: 20px;
    width: 380px;
    box-shadow: 1px 1px 3px -2px rgba(0,0,0,0.75);
    -webkit-animation-name: run;
    -webkit-animation-duration: 0.8s;
    z-index: 2;
}

@-webkit-keyframes run {
    0% { right: -390px; }
    70%{ right : 45px;}
    100% { right : 20px; }
}


.select2-container span {
    display: block;
}

.select2-container {
    width: 100%!important;
}

.form-select .select2-container {
    width: 100%!important;
}

.diklat-table {
    font-size: 13px;
}

.table-hover {
    cursor:pointer;
}

.chart-prodi p, .chart-prodi hr {
    margin: 2px;
}

.border-top-none tbody > tr:first-child > td {
    border-top: 0!important;
}